@import url("./styles/bar.css");
@import url("./styles/battery.css");
@import url("./styles/brightness.css");
@import url("./styles/clipboard.css");
@import url("./styles/colors.css");
@import url("./styles/corners.css");
@import url("./styles/dock.css");
@import url("./styles/language.css");
@import url("./styles/launcher.css");
@import url("./styles/metrics.css");
@import url("./styles/notification.css");
@import url("./styles/power.css");
@import url("./styles/power-profile.css");
@import url("./styles/screenshot.css");
@import url("./styles/settings.css");
@import url("./styles/notch.css");
@import url("./styles/time.css");
@import url("./styles/tray.css");
@import url("./styles/volume.css");
@import url("./styles/wifi.css");
@import url("./styles/wired.css");
@import url("./styles/wallpaper.css");
@import url("./styles/workspace.css");
@import url("./styles/weather.css");
@import url("./styles/bluetooth.css");

* {
  all: unset;
  color: var(--foreground);
  font-size: unset;
  font-family: {{MONOSPACE_FONT_FAMILY}};
  border-radius: 12px;
  font-size: 18px;
}

tooltip {
  border: solid 1px var(--surface);
  background-color: var(--shadow);
  animation: tooltipShow 0.25s cubic-bezier(0.5, 0.25, 0, 1);
}

@keyframes tooltipShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

tooltip > * {
  padding: 6px 10px;
  border-radius: 10px;
}
tooltip label {
  font-size: 14px;
  font-weight: bold;
}
#bar-center-container.hovered #bar-center-container-inner {
  padding: 5px 30px 30px 30px;
  min-width: 750px;
}

#bar-center-container {
  margin-top: -47px;
}

#bar-center-container.top,
#bar-center-container.hovered {
  margin-top: 0;
}
