#bar-start-container,
#bar-end-container {
  padding: 8px;
}
#bar-start-container.top,
#bar-end-container.top {
  padding-bottom: 0;
}
#bar-start-container.left,
#bar-end-container.left {
  padding-right: 0;
}
#bar-start-container.bottom,
#bar-end-container.bottom {
  padding-top: 0;
}
#bar-start-container.right,
#bar-end-container.right {
  padding-left: 0;
}
.bar-item {
  background-color: var(--shadow);
  border-radius: 20px;
  font-weight: bold;
}
.bar-item.horizontal {
  padding: 0 10px;
  min-height: 46px;
}
.bar-item.vertical {
  padding: 10px 0;
  min-width: 38px;
}
#bar-center-container-inner {
  background-color: var(--shadow);
  padding: 6px;
  border-radius: 0 0 25px 25px;
  transition: all 0.3s ease-in-out;
}
.bar-action-button {
  padding: 0 12px;
}
.bar-action-button.small {
  padding: 6px;
}
.bar-action-button {
  min-width: 40px;
  min-height: 40px;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.bar-action-button.small {
  min-width: 0px;
  min-height: 0px;
}

.bar-action-button label {
  color: var(--foreground);
}

.bar-action-button:hover,
.bar-action-button:focus {
  border-radius: 20px;
  background-color: var(--surface-bright);
}
.bar-action-button.danger:hover,
.bar-action-button.danger:focus {
  background-color: var(--error-container);
}
.bar-action-button:hover label,
.bar-action-button:focus label {
  color: var(--primary);
}
.bar-action-button.danger:hover label,
.bar-action-button.danger:focus label {
  color: var(--shadow);
}
.bar-action-button:active {
  background-color: var(--primary);
}
.bar-action-button.danger:active {
  background-color: var(--error-container);
}
.bar-action-button:active label {
  color: var(--shadow);
}
.bar-action-button.danger:active label {
  color: var(--foreground);
}
/* TODO: Add labels on the wifi, wired, bluetooth and power-profile buttons */
