/* Bar height items are 40px ! */
#bar-start-container,
#bar-end-container {
  padding: 8px;
  padding-bottom: 0;
}
#bar-start-container-inner,
#bar-end-container-inner {
  background-color: var(--shadow);
  border-radius: 20px;
  padding: 4px;
}
#bar-center-container-inner {
  background-color: var(--shadow);
  padding: 6px;
  min-height: 40px;
  border-radius: 0 0 25px 25px;
}
.bar-action-button {
  padding: 0 12px;
}
.bar-action-button {
  min-width: 40px;
  min-height: 40px;
  padding: 0;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.bar-action-button label {
  color: var(--foreground);
}

.bar-action-button:hover,
.bar-action-button:focus {
  border-radius: 20px;
  background-color: var(--surface-bright);
}

.bar-action-button:hover label,
.bar-action-button:focus label {
  color: var(--primary);
}

.bar-action-button:active {
  background-color: var(--primary);
}

.bar-action-button:active label {
  color: var(--shadow);
}

/* TODO: Add labels on the wifi, wired, bluetooth and power-profile buttons */
