#bluetooth-left-button {
  border-radius: 12px 2px 2px 12px;
}

#bluetooth-left-button.disabled {
  background-color: var(--surface);
}

#bluetooth-left-button.disabled #bluetooth-left-button-childs label {
  color: var(--foreground);
}

#bluetooth-open-button {
  border-radius: 2px 12px 12px 2px;
  background-color: var(--surface);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#bluetooth-open-button label {
  font-size: 20px;
  color: var(--foreground);
  transition: all 0.25s ease;
}

#bluetooth-open-button:hover {
  background-color: var(--primary);
  padding: 0 4px;
}

#bluetooth-open-button:hover label {
  color: var(--shadow);
}

#bluetooth-devices-title {
  font-size: 16px;
  color: var(--foreground);
}

#bluetooth-devices-container {
  margin-top: 12px;
  background-color: var(--surface);
  border-radius: 8px;
  padding: 8px;
}

#bluetooth-scan {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--surface-bright);
  transition: all 0.1s ease;
}

#bluetooth-scan:hover {
  border-radius: 20px;
  background-color: var(--primary);
}

#bluetooth-scan:hover label {
  color: var(--on-primary);
}

#bluetooth-scan label {
  color: var(--foreground);
  font-size: 18px;
  transition: all 0.1s ease;
}

#bluetooth-scan label.scanning {
  color: var(--on-primary);
}

#bluetooth-scan label.scanning {
  color: var(--on-primary);
}

#bluetooth-scan label.scanning {
  background-color: var(--primary);
}

#bluetooth-scan.scanning {
  background-color: var(--primary);
}
