:vars {
  --foreground: #dfe4de;
  --background: #0f1511;
  --cursor: #dfe4de;
  --primary: #90d5ae;
  --on-primary: #003822;
  --secondary: #b4ccbc;
  --on-secondary: #203529;
  --tertiary: #a4cddd;
  --on-tertiary: #053542;
  --surface: #0f1511;
  --surface-bright: #353b36;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #8a938c;
  --shadow: #000000;
  --red: #ffb595;
  --red-dim: #ff9162;
  --green: #9ad4a2;
  --green-dim: #76c581;
  --yellow: #b8cf84;
  --yellow-dim: #a3c15f;
  --blue: #afc6ff;
  --blue-dim: #7ca2ff;
  --magenta: #e4b7f3;
  --magenta-dim: #d48bec;
  --cyan: #84d5c4;
  --cyan-dim: #5ec8b2;
  --white: #82d3e0;
}
