#metrics-main-box {
  font-weight: bold;
  padding: 4px 12px;
}

#ram-label {
  font-size: 14px;
}
.metrics-progress-bar {
  color: var(--surface-bright);
  border: 3px solid var(--primary);
}
.metrics-progress-bar.warning {
  border: 3px solid var(--yellow-dim);
}
.metrics-progress-bar.danger {
  border: 3px solid var(--red-dim);
}
