#action-button {
  background-color: var(--surface);
  padding: 8px;
}

#action-button:hover {
  background-color: var(--surface-bright);
}

#action-button:active {
  background-color: var(--primary);
}

#action-button:active #button-label {
  color: var(--shadow);
}

#notification-image image {
  border-radius: 16px;
}

#notification-summary,
#button-label {
  font-weight: bold;
}

#notification-summary {
  font-weight: bold;
  color: var(--primary);
}

#notification-app-name {
  color: var(--outline);
}

#action-button {
  margin-top: 8px;
}

#notif-close-button {
  background-color: var(--surface);
  border-radius: 8px;
  padding: 8px;
}

#notif-close-button:hover,
#notif-close-button:focus {
  background-color: var(--surface-bright);
}

#notif-close-button:active {
  background-color: var(--red-dim);
}

#notif-close-label {
  color: var(--red-dim);
  font-size: 16px;
}

#notif-close-button:active #notif-close-label {
  color: var(--shadow);
}

/* Notification history window */
#notification-history {
  background-color: var(--shadow);
  border: 2px solid var(--surface);
  padding: 8px;
  border-radius: 12px;
}

#notification-history scrollbar {
  background: transparent;
}

#notification-history scrollbar.vertical slider {
  background: var(--primary);
  border-radius: 8px;
  min-width: 16px;
  min-height: 48px;
  margin: 4px;
}

#notification-history scrollbar.vertical trough {
  background: var(--surface);
  border: none;
  margin: 4px;
}

#notification-box-hist {
  padding: 8px;
  border: 2px solid var(--surface);
}

#notification-timestamp {
  color: var(--surface-bright);
}

#notification-history-header {
  padding: 4px;
  border-radius: 12px;
  border: 2px solid var(--surface);
  margin-bottom: 4px;
}

#nhh {
  font-weight: bold;
  font-size: 14px;
}

#dnd-label {
  font-size: 20px;
  margin-left: 4px;
}

#notif-sep {
  padding: 2px;
  border-radius: 16px;
  background-color: var(--surface-bright);
  margin: 0 8px;
}

#notif-date-sep {
  padding: 4px;
  background-color: var(--surface);
}
#notif-date-sep-label {
  color: var(--outline);
  font-weight: bold;
}
#notification-container-main {
  background-color: transparent;
  padding: 0;
}
#notification-stack-box {
  background-color: transparent;
  padding: 0;
  border: none;
  margin: 8px;
  min-width: 380px;
  padding: 16px;
}
#notification-box {
  padding: 16px;
  border: 2px solid var(--surface);
  background-color: var(--shadow);
  border-radius: 16px;
  margin-bottom: 4px;
  transition: all 250ms ease-in-out;
}
.notification-entering {
  opacity: 0;
  margin-top: -20px;
  transition: all 250ms ease-out;
}
.notification-visible {
  opacity: 1;
  margin-top: 0;
  transition: all 250ms ease-in-out;
}
.notification-exiting {
  opacity: 0;
  margin-left: 20px;
  transition: all 250ms ease-in;
}

/* Button indicator */
#notification-history-indicator {
  padding: 8px;
  font-weight: bold;
  border-radius: 20px;
  margin-right: -15px;
  background-color: var(--shadow);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 1;
}
#notification-history-indicator.active:not(.dnd) {
  background-color: var(--primary);
}
#notification-history-indicator.hidden {
  opacity: 0;
}
#notification-history-icon {
  font-size: 18px;
  color: var(--shadow);
}
#notification-history-indicator.active #notification-history-icon {
  color: var(--on-primary);
}
#notification-history-indicator.dnd #notification-history-icon {
  color: var(--primary);
}
