/* Bar button */
#settings-menu-container {
  margin: 0;
  padding: 0;
}
#settings-menu-main-button label {
  font-size: 24px;
}

.settings-action-button {
  min-width: 40px;
  min-height: 40px;
  padding: 0;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: var(--surface);
}
.settings-action-button label {
  font-size: 24px;
  color: var(--foreground);
}
.settings-action-button:hover,
.settings-action-button:focus {
  border-radius: 20px;
  background-color: var(--surface-bright);
}
.settings-action-button:hover label,
.settings-action-button:focus label {
  color: var(--primary);
}
.settings-action-button:active {
  background-color: var(--primary);
}
.settings-action-button:active label {
  color: var(--shadow);
}

/* Main dropdown */
#settings-container {
  background-color: var(--shadow);
  padding: 20px;
  min-width: 800px;
}

/* See more buttons with caret */
.expand-button-caret {
  border-radius: 2px 12px 12px 2px;
  background-color: var(--surface);
  transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.expand-button-caret label {
  font-size: 20px;
  color: var(--foreground);
  transition: all 0.1s ease;
}
.expand-button-caret:hover {
  background-color: var(--primary);
  padding: 0 4px;
}
.expand-button-caret:active {
  border-radius: 2px 20px 20px 2px;
}
.expand-button-caret:hover label {
  color: var(--shadow);
}

/* Shared */
#wifi-left-button,
#wired-left-button,
#power-profile,
#bluetooth-left-button {
  padding: 8px;
  background-color: var(--primary);
}
#wifi-icon,
#wired-icon,
#power-profile-icon,
#bluetooth-icon {
  font-size: 25px;
  color: var(--shadow);
}
#wifi-status,
#wired-status,
#power-profile-name,
#bluetooth-status {
  font-size: 14px;
  color: var(--shadow);
}

/* Brightness and Volume */
#brightness-icon,
#volume-icon {
  font-size: 24px;
  color: var(--foreground);
}
#brightness-row,
#volume-row,
#mic-row {
  margin-top: 20px;
}

/* Reusable */

/* Slider */
#control-slider {
  background-color: var(--surface);
  margin: 0px 0px 0px 0px;
  border-radius: 6px 6px 6px 6px;
}
#control-slider trough {
  min-height: 10px;
  padding-right: 4px;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#control-slider trough highlight {
  border-radius: 6px 6px 6px 6px;
  min-height: 10px;
  margin-right: 8px;
  background-color: var(--primary);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#control-slider.muted trough highlight,
#control-slider.muted slider {
  background-color: var(--surface-bright);
}
/* Slider grab area */
#control-slider slider {
  border-radius: 2px;
  background-color: var(--primary);
  min-width: 4px;
  min-height: 40px;
  margin: -8px 0;
  box-shadow:
    -4px 0 0px 2px var(--shadow),
    4px 0 0px 2px var(--shadow);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#control-slider slider:hover {
  background-color: var(--foreground);
}
