#time {
  font-weight: bold;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 0 12px;
}

#time:hover,
#time:focus {
  border-radius: 20px;
  background-color: var(--surface-bright);
}
#time:hover label,
#time:focus label {
  color: var(--primary);
}
#time:active {
  background-color: var(--primary);
}
#time:active label {
  color: var(--shadow);
}
#time-label,
#date-label {
  color: var(--foreground);
  font-size: 16px;
  font-weight: bold;
}

#calendar-container {
  background-color: var(--shadow);
  color: var(--foreground);
  border: 2px solid var(--surface);
  padding: 8px;
  border-radius: 12px;
}

#month-navigation {
  padding: 4px;
  border-radius: 12px;
  border: 2px solid var(--surface);
  margin-bottom: 8px;
}

#month-year-label {
  font-weight: bold;
  font-size: 14px;
}

#day-label {
  font-size: 12px;
  color: var(--foreground);
  font-weight: bold;
}

/* Days buttons/labels */
#day-button,
#today-button,
#empty-day {
  min-height: 30px;
  min-width: 30px;
  padding: 2px;
  margin: 1px;
}
#day-button label {
  color: var(--foreground);
}
#today-button {
  background-color: var(--primary);
  border-radius: 40px;
  font-weight: bold;
}
#today-button label {
  color: var(--on-primary);
}
#empty-day {
  background-color: transparent;
  border: none;
}
#empty-day-label {
  color: var(--surface-bright);
  font-size: 16px;
}
