#systray {
  padding: 0 12px;
}

/* Context menu */
menu {
  background-color: var(--shadow);
  border: 2px solid var(--surface);
  padding: 4px;
}

menu > menuitem {
  border-radius: 10px;
  padding: 6px 10px;
}

menu > menuitem:hover {
  background-color: var(--surface);
}
menu > menuitem:hover label {
  color: var(--primary);
}
