#wired-left-button {
  border-radius: 12px 2px 2px 12px;
}

#wired-left-button.disabled {
  background-color: var(--surface);
}

#wired-left-button.disabled #wired-left-button-childs label {
  color: var(--foreground);
}

#wired-networks-expand-button {
  border-radius: 2px 12px 12px 2px;
  background-color: var(--surface);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#wired-networks-expand-button label {
  font-size: 20px;
  color: var(--foreground);
  transition: all 0.25s ease;
}

#wired-networks-expand-button:hover {
  background-color: var(--primary);
  padding: 0 4px;
}

#wired-networks-expand-button:hover label {
  color: var(--shadow);
}

#wired-connections-box {
  margin-top: 12px;
  background-color: var(--surface);
  border-radius: 8px;
  padding: 8px;
}

#wired-networks-header {
  font-size: 16px;
  color: var(--foreground);
}

#wired-scan {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--surface-bright);
  transition: all 0.1s ease;
}

#wired-scan:hover {
  border-radius: 20px;
  background-color: var(--primary);
}

#wired-scan:hover label {
  color: var(--on-primary);
}

#wired-scan label {
  color: var(--foreground);
  font-size: 18px;
  transition: all 0.1s ease;
}

#wired-scan label.scanning {
  color: var(--on-primary);
}

#wired-scan label.scanning {
  color: var(--on-primary);
}

#wired-scan label.scanning {
  background-color: var(--primary);
}

#wired-scan.scanning {
  background-color: var(--primary);
}
#wired-connect-button label {
  font-size: 14px;
}
.wired-connection-label {
  font-size: 14px;
}
